@import "tailwindcss";

.header {
  width: 100%;
  height: 7rem;
  background-color: rgb(39, 39, 39);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.75rem;
  background-color: rgb(31, 143, 106);
  color: white;
  text-align: center;
  font-size: small;
}

.t-1 {
  padding-left: 3rem;

}

.t-2 {
    padding-right: 3rem;
}

.t-1-u {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: inside;
  list-style-type: square;
  gap: 15px;
  font-size: 0.7rem;
}

li::marker {
  color: yellow
}

.t-2-u {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 14px;
  gap: 20px;
  font-size: medium;
}

.t-2-u > li {
  cursor: pointer;
}


.sp-1 {
  clip-path: polygon(0% 0%, 100% 0, 86% 57%, 75% 100%, 0% 100%);
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.padding-20 {
  padding-right: 40px;
}

.padding-191 {
  padding: 15px 20px 15px 20px;
}

.outdoor-section {
  padding: 4rem;
}

.padding-luxury {
  padding: 5px 10px 5px 10px;
}

.padding-4 {
  padding: 16px;
}

.stat-number {
  font-size: 3rem; /* same as text-5xl */
  font-weight: bold;
  background: #22906C;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-stroke: 2px white; /* for browsers that support */
  -webkit-text-stroke: 1px white; /* Safari/Chrome */
}
.pad-6 {
  padding: 24px;
}

/* .image-marker li::marker {
  content: url('/marker.png');
} */

